

/* Nav  */

.Main-container{
  padding: 0 25px;
  color: #fff;
  
}
.header-nav-container{
  width: 100%;
  padding: 1rem 0;
}
.header-nav-container nav{
  max-width: 450px;
  margin: 0 auto;
  background-color: rgb(10, 10, 19);
  padding: 8px 15px;
  border-radius: 35px;
  transition: .3s ease;
}
.header-nav-container ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}

.header-nav-container ul li{
  cursor: pointer;
  padding: 0 10px;
}
.header-nav-container ul li:hover{
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;

}

/* Presentation section */


section{
  margin: auto;
}


/* Projects section */



@media (min-width: 1024px) {
  section{
    width: 740px;
  }
}