:root {
  --mainTextColor: rgba(255, 255, 255, 0.87);
  --buttonsColor:  linear-gradient(to right, #7f7fd5, #7ca2ea, #7f7fd5);



  font-family: Verdana, monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--mainTextColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}


body {
  width: 100%;
  height: auto;
  background: radial-gradient(
    circle closest-corner at center 125px,
    #212132,
    #1b1b27 40%
  ) no-repeat;

}

a{
  font-family: Verdana, sans-serif;
}
